[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pyathena = "*"
# Dan reviewed this version.
typed-argument-parser = "8967a512f325515d043a99832b777ff6ee8dcb1c"
python-snappy = "*"
fastavro = "*"
retrying = "*"
pyyaml = "*"

[dev-packages]
flake8 = "*"
mock = "*"

[requires]
python_version = "3.10"
